.w700{
    width: 700px;
}
.first{
    height: 200px;
    background: aquamarine;
    margin-bottom: 5px;
}
.second{
    height: 400px;
    display: flex;
}
.a{
    width: 80%;
    background: #c8c8dc;
    margin-right: 5px;
}
.b{
    width: 20%;
    background: cornflowerblue;
}

.h100{
    height: 100px;
}
.header{
    background: cornflowerblue;
}
.nav{
    height: 80px;
    background: blue;
}
.third{

}
.footer{
    background: aquamarine;
}
