.w700{
    width: 700px;
    box-sizing: border-box;
}
.first{
    height: 200px;
    background: aquamarine;
    margin-bottom: 5px;
}
.second{
    height: 400px;
    display: flex;
}
.a{
    width: 80%;
    background: #c8c8dc;
    margin-right: 5px;
}
.b{
    width: 20%;
    background: cornflowerblue;
}

.h100{
    height: 100px;
}
.header{
    background: cornflowerblue;
}
.nav{
    height: 80px;
    background: blue;
}
.third{
    height: 300px;
    display: flex;
}
.main{
    width: 70%;
    background: cadetblue;
}
.aside{
    width: 30%;
    background: rgba(138, 43, 226, 0.44);
}
.footer{
    background: aquamarine;
}
.m5{
    margin-bottom: 5px;
}
.basic{
    height: 300px;
    display: flex;
}
.menu{
    width: 30%;
    background: lightcoral;
    margin-right: 5px;
}
.posts{
    width: 70%;
}
.post{
    height: 148px;
    background: lightgrey;
}
.m4{
    margin-bottom: 4px;
}