.w700{
    width: 700px;
}
.mb10{
    margin-bottom: 10px;
}
.mr10{
    margin-right: 10px;
}
.bg{
    background: darkgray;
}
.bg1{
    background: cornflowerblue;
}
.bg2{
    background: darkgray;
}
.first{
    height: 150px;
}
.second{
    height: 300px;
    display: flex;
}
.hor{
    width: 70%;
}
.vert{
    width: 30%;
}
.b{
    height: 48.4%;
}
.c{
    height: 48.4%;
    display: flex;
}
.blocks{
    width: 33%;
}
.up{
    height: 450px;
    display: flex;
}
.home_about{
    width: 50%;
}
.center{
    height: 200px;
}
.down{
    height: 180px;
    display: flex;
}
.cabobs{
    width: 33%;
}